/AlbertoMartinez_Lab6/nbproject/private/
/AlbertoMartinez_Lab6/build/
/ArchivosDeTexto/nbproject/private/
/ArchivosDeTexto/build/
/ManejoDeArchivos/nbproject/private/
/ManejoDeArchivos/build/
/JFileChooser/nbproject/private/
/JFileChooser/build/
/lab6_Alberto Martinez/nbproject/private/